/* 011627-fdfffc-2ec4b6-e71d36-ff9f1c */

body {
    background-color: #011627;
    font-family: 'Cousine', monospace;
}

.battingOrder {
    float: left;
    margin: 0% 2%;
    width: 30%;
}

.atBatsHeading, .battingOrderHeading, .boxScoreHeading, .scoreHeading {
    color:  #ff9f1c;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: auto;
    width: 100%
}

.atBatCard, .battingBoxScoreCard, .lineupCard, .pitchingBoxScoreCard, .scoreCard {
    border: 1px solid;
    min-height: 20px;
    padding: 0.5%;
    width: 100%;
}

.atBatCard, .battingBoxScoreCard, .lineupCard, .pitchingBoxScoreCard, .playerCard, .scoreCard {
    background-color: #fdfffc;
    border-color: #e71d36;;
    color: #011627;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.playerCard {
    border: 4px solid;
    border-radius: 10px;
    display: inline;
    min-height: 200px;
    min-width: 160px;
    margin: 2%;
    padding: 2%;
    width: 18%;
}

.lineupCard .name {
    float: left;
    min-width: 65%;
}

.atBatCard .name {
    min-width: 18%;
}

.atBatCard .name, .battingBoxScoreCard .name, .lineupCard .name, .pitchingBoxScoreCard .name, .scoreCard .scoreValue, .playerCard h1 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 20px;
    padding-left: 2%;
}

.battingBoxScoreCard .name, .pitchingBoxScoreCard .name {
    min-width: 50%;
}

.atBatCard div, .battingBoxScoreCard div, .pitchingBoxScoreCard div, .scoreCard div {
    float: left;
    padding: 0.5%;
}

.atBatCard div, .scoreCard div {
    min-width: 4%;
}

.atBatCard .rolls {
    min-width: 8%;
}

.battingBoxScoreCard div, .pitchingBoxScoreCard div {
    min-width: 4%;
}

.atBatsHeading, .boxScoreHeading, .scoreHeading {
    float: left;
}

.awayBoxScore, .homeBoxScore {
    float: left;
    margin: 2%;
    width: 40%;
}

.playerCard h1 {
    border-bottom: 2px solid;
    border-color: #e71d36;
    min-height: 40px;
}

.playerCard .avgGameRuns {
    background-color: #2ec4b6;
    border-radius: 8px;
    color: #fdfffc;
    float: right;
    font-size: 30px;
    margin-top: 10%;
    padding: 4%;
}

.lineupCard .onBase, .lineupCard .num, .lineupCard .points, .lineupCard .pos {
    float: left;
    line-height: 20px;
    min-width: 5%;
    padding-left: 2%;
}

.playerCard .onBase {
    margin: 4% 0%;
}

.playerCard .points {
    border: 2px solid;
    border-color: #2ec4b6;
    border-radius : 8px;
    color: #2ec4b6;
    float: left;
    font-size: 30px;
    margin-top: 10%;
    min-height: 100%;
    padding: 4%;
    text-align: center;
    width: 40%;
}

.playerCard .pos {
    color: #ff9f1c;
    font-style: italic;
}

.atBats, .score {
    float: left;
    margin: 2%;
    width: 70%;
}

.atBatCardContainer, .lineupCardContainer, .scoreCardContainer {
    margin: auto;
    width: 100%;
}

.playerCardContainer {
    margin: auto;
    width: 90%;
}

.lineupCardWrapper, .playerCardWrapper {
    float: left;
    width: 100%;
}

.totalSalary {
    color: #fdfffc;
    float: left;
    font-size: 32px;
    font-weight: bold;
    padding: 4%;
    text-align: center;
    width: 100%;
}

.scoreCard {
    float: left;
}

.battingBoxScoreCard .chartItem {
    height: 10px;
    min-width: 3%;
}

.battingBoxScoreCard .hitterChartCard, .battingBoxScoreCard .playerName {
    min-width: 48%;
}

.hitterChartItem0 {
    background-color: #fc5185;
}

.hitterChartItem1 {
    background-color: #bdc3c7;
}

.hitterChartItem2 {
    background-color: #fce38a;
}

.hitterChartItem3 {
    background-color: #3fc1c9;
}

.hitterChartItem4 {
    background-color: #364f6b;
}
