/* 011627-fdfffc-2ec4b6-e71d36-ff9f1c */

body {
    background-color: #011627;
    font-family: 'Cousine', monospace;
}

.battingOrder {
    float: left;
    margin: 0% 2%;
    width: 30%;
}

.atBatsHeading, .battingOrderHeading, .boxScoreHeading, .scoreHeading {
    color:  #ff9f1c;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: auto;
    width: 100%
}

.atBatCard, .battingBoxScoreCard, .lineupCard, .pitchingBoxScoreCard, .scoreCard {
    border: 1px solid;
    min-height: 20px;
    padding: 0.5%;
    width: 100%;
}

.atBatCard, .battingBoxScoreCard, .lineupCard, .pitchingBoxScoreCard, .playerCard, .scoreCard {
    background-color: #fdfffc;
    border-color: #e71d36;;
    color: #011627;
    float: left;
    font-size: 16px;
    font-weight: bold;
}

.playerCard {
    border: 4px solid;
    border-radius: 10px;
    display: inline;
    min-height: 200px;
    min-width: 160px;
    margin: 2%;
    padding: 2%;
    width: 18%;
}

.lineupCard .name {
    float: left;
    min-width: 65%;
}

.atBatCard .name {
    min-width: 18%;
}

.atBatCard .name, .battingBoxScoreCard .name, .lineupCard .name, .pitchingBoxScoreCard .name, .scoreCard .scoreValue, .playerCard h1 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-left: 2%;
}

.battingBoxScoreCard .name, .pitchingBoxScoreCard .name {
    min-width: 52%;
}

.atBatCard div, .battingBoxScoreCard div, .pitchingBoxScoreCard div, .scoreCard div {
    float: left;
    padding: 0.5%;
}

.atBatCard div, .scoreCard div {
    min-width: 4%;
}

.atBatCard .rolls {
    min-width: 8%;
}

.battingBoxScoreCard div, .pitchingBoxScoreCard div {
    min-width: 4%;
}

.atBatsHeading, .boxScoreHeading, .scoreHeading {
    float: left;
}

.awayBoxScore, .homeBoxScore {
    float: left;
    margin: 2%;
    width: 40%;
}

.playerCard h1 {
    border-bottom: 2px solid;
    border-color: #e71d36;
    min-height: 40px;
}

.playerCard .avgGameRuns {
    background-color: #2ec4b6;
    border-radius: 8px;
    color: #fdfffc;
    float: right;
    font-size: 30px;
    margin-top: 10%;
    padding: 4%;
}

.lineupCard .onBase, .lineupCard .num, .lineupCard .points, .lineupCard .pos {
    float: left;
    line-height: 20px;
    min-width: 5%;
    padding-left: 2%;
}

.playerCard .onBase {
    margin: 4% 0%;
}

.playerCard .points {
    border: 2px solid;
    border-color: #2ec4b6;
    border-radius : 8px;
    color: #2ec4b6;
    float: left;
    font-size: 30px;
    margin-top: 10%;
    min-height: 100%;
    padding: 4%;
    text-align: center;
    width: 40%;
}

.playerCard .pos {
    color: #ff9f1c;
    font-style: italic;
}

.atBats, .score {
    float: left;
    margin: 2%;
    width: 70%;
}

.atBatCardContainer, .lineupCardContainer, .scoreCardContainer {
    margin: auto;
    width: 100%;
}

.playerCardContainer {
    margin: auto;
    width: 90%;
}

.lineupCardWrapper, .playerCardWrapper {
    float: left;
    width: 100%;
}

.totalSalary {
    color: #fdfffc;
    float: left;
    font-size: 32px;
    font-weight: bold;
    padding: 4%;
    text-align: center;
    width: 100%;
}

.scoreCard {
    float: left;
}

.battingBoxScoreCard .chartItem , .pitchingBoxScoreCard .chartItem {
    height: 10px;
    min-width: 3%;
}

.battingBoxScoreCard .hitterChartCard, .battingBoxScoreCard .playerName, .pitchingBoxScoreCard .hitterChartCard, .pitchingBoxScoreCard .playerName {
    min-width: 48%;
    max-width: 50%;
}

.hitterChartItem0 {
    background-color: #fc5185;
}

.hitterChartItem1 {
    background-color: #bdc3c7;
}

.hitterChartItem2 {
    background-color: #fce38a;
}

.hitterChartItem3 {
    background-color: #3fc1c9;
}

.hitterChartItem4 {
    background-color: #364f6b;
}

.fieldPlayerCard {
    background-color: #FFF;
    border: 4px solid;
    border-radius: 10px;
    display: inline;
    float: left;
    min-width: 180px;
    margin: 2%;
    padding: 2%;
    width: 10%;
}

.offenseCard {
    display: inline;
    float: left;
    margin-left: 2%;
    width: 20%;
}

.scoreboardCard {
    background-color: #000;
    border-radius: 10px;
    color: #FFF;
    float: left;
    font-family: 'Codystar', monospace;
    font-size: 80px;
    margin: 2%;
    width: 96%;
}

.sbHeader {
    padding-right: 1%;
}

.sbHeader, .sbValue {
    display: inline;
    float: left;
    width: 100%;
}

.sbDiv {
    float: left;
    margin: 1%;
    text-align: center;
    width: 22%;
}

.playAtBatButton {
    margin-bottom: 20px;
    width: 100%;
}

.playAtBatButton button {
    background-color: #ff9f1c;
    border-color: #ff9f1c;
    border-radius: 10px;
    line-height: 700%;
    width: 100%;
}

.fullName {
    float: left;
    width: 95%;
}

.obc {
    float: left;
    font-weight: bold;
    text-align: right;
    width: 4%;
}

.bases, .defense, .hitters {
    float: left;
    width: 100%;
}

.bases {
    background-color: tan;
}

.defense {
    background-color: #ff9f1c;
}

.hitters {
    width: 100%;
}

.hitters div {
    float: left;
    margin: 2%;
}

.park {
    float: left;
    margin: 10% 0% 0% 10%;
    width: 900px;
    padding-left: 20%;
}

.field-base-container, .field-position-container {
    position: relative;
}

.field-base-container div {
    background-color: #FFF;
    border:1px solid #000;
    height: 20px;
    position: absolute;
    width: 20px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
}

.field-position-container div {
    border: 2px solid #ff9f1c;
    border-radius: 40%;
    box-sizing: border-box;
    height: 20px;
    padding: 0px;
    position: absolute;
    width: 20px;
    z-index: 1;
}

.first-base {
    top: 100px;
    left: 400px;
}

.second-base {
    top: -80px;
    left: 200px;
}

.third-base {
    top: 100px;
    left: 0px;
}

.home-base {
    top: 280px;
    left: 200px;
}

.pos-pitcher {
    top: 100px;
    left: 200px;
}

.pos-catcher {
    top: 320px;
    left: 200px;
}

.pos-firstBase {
    top: 50px;
    left: 400px;
}

.pos-secondBase {
    top: -50px;
    left: 300px;
}

.pos-thirdBase {
    top: 50px;
    left: 0px;
}

.pos-shortstop {
    top: -50px;
    left: 100px;
}

.pos-leftField {
    top: -80px;
    left: -20px;
}

.pos-centerField {
    top: -260px;
    left: 200px;
}

.pos-rightField {
    top: -80px;
    left: 440px;
}

.field-base-container .occupied {
    background-color: #fc5185;
}

.field-base-container div .player-desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #fff;
    border-color: #fc5185;
    border-radius: 1%;
    color: #000;
    height: 200px;
    opacity: 0;
    padding: 50%;
    transition: opacity .2s, visibility .2s;
    visibility: hidden;
    width: 180px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
}

.field-position-container .pos-player-desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.pos-player-name {
    color: #FFF;
    margin-left: 30px;
    margin-top: -30px;
}

.field-position-container:hover .pos-player-desc {
    opacity: 0.5;
    visibility: visible;
}

.field-base-container .occupied:hover .player-desc {
    opacity: 1;
    visibility: visible;
}

.field-position-container:hover {
    visibility: hidden;
}

.field-base-container div .player-desc div, .field-position-container div .pos-player-desc div {
    border: 0px;
    float: left;
    position: relative;
    width: 100%;
    
    -webkit-transform: rotate(0deg);
}

.lastPlay {
    color: #FFF;
    float: left;
    font-family: 'Press Start 2P';
    font-size: 28px;
    margin: 2%;
    text-align: center;
    width: 100%;
}

.infield-dirt {
    position: relative;
    top: -110px;
    bottom: 0;
    left: 10px;
    right: 0;

    background-color: tan;
    border-radius: 10%;
    float: left;
    height: 400px;
    width: 400px;
    z-index: -1;

    -webkit-transform: rotate(45deg);
}

.infield-grass {
    position: relative;
    top: 10px;
    bottom: 0;
    left: -289px;
    right: 0;

    background-color: green;
    border-radius: 10%;
    float: left;
    height: 200px;
    width: 200px;
    z-index: -0.5;

    -webkit-transform: rotate(45deg);
}

.infield-pitchers-mound {
    position: relative;
    top: 80px;
    bottom: 0;
    left: -420px;
    right: 0;

    background-color: tan;
    border-radius: 50%;
    float: left;
    height: 60px;
    width: 60px;
    z-index: -0.25;
}

.outfield-grass {
    position: relative;
    top: -460px;
    bottom: 0;
    left: -440px;
    right: 0;

    background: green;
    border-radius: 0 100px 0 0;
    float: left;
    height: 500px;
    width: 500px;
    z-index: -3;

    -moz-border-radius: 0 100px 0 0;
    -webkit-border-radius: 0 100px 0 0;
    -webkit-transform: rotate(-45deg);
}

.batter-img {
    height: 200px;
    width: 200px;
}

.batter-img img {
    float: left;
}
